.main-div
{
  height: 200px;
  width: 1000px;
  background: pink;
  justify-content: center;
}
.header1
{
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.uper-div
{
  justify-content: center;
  border: 2px solid green;
}